.env
vendor/symfony/.DS_Store
vendor/phpunit/.DS_Store
vendor/laravel/.DS_Store
vendor/facade/.DS_Store
vendor/doctrine/.DS_Store
vendor/.DS_Store
resources/.DS_Store
app/Http/.DS_Store
app/Admin/.DS_Store
app/.DS_Store
.DS_Store
.DS_Store
.DS_Store
/.env
.env
